














.JFrame {}




.Menubar {
  display: flex;
  flex-direction: row;
  overflow: auto;
}







.Popup {
  text-align: start;
}

.PopupItemsContainer {
  padding-inline-start: 0.5em;
  font-size: 90% ;
  padding-block-end: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: stretch;
}

.PopupBpv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: stretch;
}









