







.ToDoList {
  border: 0.05em solid currentColor;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: start;
}








/* 
 i'm not naming this `ToDoList.css` .
 having to  keep in-sync of the file-names can be a pain.
 */
